body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

 .menu {
    display: flex;
    justify-content: space-between;
    font-weight: 700;  
    align-items: center;
    flex-grow: 1;
    padding: 30px 30px 15px;
} 

.menu img {
    height: 50px;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

a {
    color: black;
    display: flex;
    align-items: center;
}

.home {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.banner {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 43px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(45%);
    }
    h1{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 42px;
        font-weight: 600;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.banner2 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding: 30px 45px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(45%);
    }
}

.indication {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.indication .collapsible {
    padding: 10px 20px 10px 15px;
    width: 100%;
}

.error {
    color: #ff6060;
    text-align: center;
    h1 {
        font-size: 10rem;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 28px;
        font-weight: 400;

    }
    a {
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        padding: 50px;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
    width: 98%;
}

.logement {
    position: relative;
    img {
        border-radius: 10px;
        display: flex;
        height: 300px;
        margin: 10px;
        object-fit: cover;
        width: 365px;
        justify-content: space-around;
    }
  
    h3 {
        position: absolute;
        bottom: 0;
        font-size: smaller;
        color: white;
        padding: 8px 26px;
        z-index: 2;
    }
}

/* .logement::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 95%;
    height: 97%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px; 
    z-index: 1; 
    pointer-events: none;
} */

.logements{
    width: 100%;
h1{
    color: #ff6060;
    margin-left: 30px;
}
 p {
    color: black;
    margin: 0;
    margin-top: 10px;
    margin-left: 33px;
 }
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    button {
        display: flex;
        background-color: #ff6060;
        color: white;
        width: 95%;
        padding: 12px;
        margin: 10px;
        border: 2px;
        border-radius: 10px;
    }
}

.content{
    background-color: #f6f6f6;
    width: 95%;
    margin-left: 15px;
}
.content p{
    margin-left: 30px;
    width: 90%;
}

.collapsible-content{
    background-color: #f6f6f6;
    max-height: 500px;
    padding: 1rem 18px 21px;
}

.collapsible{
    padding: 20px;
    flex: 1 0 auto;
    max-width: 50%;
}

.collapsible-container{
    display: flex;
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-left: 7px;
}

.collapsible-header{
    background-color: #ff6060;
    color: white;
    border: 5px solid #ff6060;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.5rem;
}


.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel img {
   width: 100%;
   height: 330px;
   border-radius: 2rem;
   padding: 1rem;
   object-fit: cover;
  }
  
  .carousel button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 4rem;
    color: white;
    padding: 25px;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }

  .carousel-button i {
    pointer-events: none;
  }

  .carousel-counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    z-index: 10;
  }
  
.badge {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: -111px;
}

.badge p{
    margin-left: 82%;
    color: #ff6060;
}

.badge img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

ul {
    display: flex;
    padding-left: 0;
   
}

.info  {
    display: flex;
    flex-direction: column;
}

  .no-bullets {
    list-style-type: none;
    padding-left: 7px;
  }

  .no-bullets li {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #ff6060;
    color: white;
    border: 5px solid #ff6060;
    border-radius: 15px;
    font-size: 15px;
  }

  .rating {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 10px;
  }

  .star{
    cursor: pointer;
    color: #e3e3e3; 
    font-size: 2rem;
  }

  .star.filled {
    color:#ff6060;
  }